<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xmlns:context="http://www.springframework.org/schema/context"
   xmlns:aop="http://www.springframework.org/schema/aop"
   xsi:schemaLocation="http://www.springframework.org/schema/beans
                       http://www.springframework.org/schema/beans/spring-beans.xsd
                       http://www.springframework.org/schema/context
                       http://www.springframework.org/schema/context/spring-context.xsd
                       http://www.springframework.org/schema/aop
                       http://www.springframework.org/schema/aop/spring-aop.xsd">
   
   
   <context:annotation-config/>
   <!-- 클래스에 있는 autowired, qualifier를 알아서 분석하고 실행해라 -->
   <bean class="kr.hs.study.beans.DataBean1"/>  
   <bean class="kr.hs.study.beans.DataBean2"/> 
   <bean id = "t4" class="kr.hs.study.beans.TestBean1"/>
   
    <bean id = "t5" class="kr.hs.study.beans.TestBean2" />
    
   <bean id = "xml1" class="kr.hs.study.beans.TestBean2" />
   
   <bean id = "t6" class="kr.hs.study.beans.TestBean3" >
     	
     	<constructor-arg ref="10" />
    </bean>
  
   
	   
</beans>